<template>
  <div>
    <div class="partition">
      <app-title :language="language" :direction="direction" imageSrc="/images/git-icon.png">
        {{text.gitHead}}
      </app-title>
      <p :dir="direction"><a target="_blank" href="https://www.github.com/myegane49">https://www.github.com/myegane49</a></p>
      <p :dir="direction"><a target="_blank" href="https://www.gitlab.com/myegane49">https://www.gitlab.com/myegane49</a></p>
    </div>
    <div class="partition">
      <app-title :language="language" :direction="direction" imageSrc="/images/portfolio-icon.png">
        {{text.portfoHead}}
      </app-title>
      <div :dir="direction" class="projects">
        <app-project v-for="prj in projects" :key="prj.imageSrc" :project="prj" :language="language" :direction="direction" />
      </div>
    </div>
  </div>
</template>

<script>
import Title from './Title.vue'
import Project from './Project.vue'
import { languageMixin } from '@/languageMixin';

export default {
  name: 'Portfolio',
  data() {
    return {
      persianText: {
        gitHead: 'ریپازیتری های گیت',
        portfoHead: 'نمونه کارها'
      },
      englishText: {
        gitHead: 'Git Repositories',
        portfoHead: 'Portfolio'
      },
      projects: {
        traderjournal: {
          link: 'https://www.traderjournal.ir',
          imageSrc: '/images/traderjournal.png',
          descriptionEn: 'An application built with Laravel and Vuejs to register trades of a financial markets trader',
          descriptionFa: 'اپلیکیشنی برای ثبت ترید ها در بازارهای مالی ساخته شده با Laravel و Vuejs'
        },
        adorian: {
          link: 'https://www.adorian.ir',
          imageSrc: '/images/adorian.png',
          descriptionEn: 'The website for my own brand that I use to work as a freelance web developer built with Laravel',
          descriptionFa: 'وبسایت برند خودم که برای کار به عنوان یک برنامه نویس وب فریلنس از آن استفاده می کنم. ساخته شده با Laravel'
        },
        myegane49: {
          link: 'https://myegane49.xyz',
          imageSrc: '/images/myegane49_xyz.png',
          descriptionEn: 'My own website. A SSR built with Nuxtjs with Mongodb Database.',
          descriptionFa: 'وبسایت شخصی خودم. یک SSR ساخته شده با Nuxtjs و دیتابیس Mongodb'
        },
        imagebay: {
          link: 'https://imagebay.ir',
          imageSrc: '/images/imagebay.png',
          descriptionEn: 'A Nodejs app hosted on my own personal VPS and Mongodb database.',
          descriptionFa: 'CMS با استفاده از Nodejs و دیتابیس Mongodb میزبانی شده روی VPS شخصی خودم'
        },
        xogame: {
          link: 'https://myegane49.xyz/xo-game',
          imageSrc: '/images/xo-game.png',
          descriptionEn: 'A simple game build with vanilla Javascript and using the MVC architecture model',
          descriptionFa: 'یک بازی ساده با استفاده از Javascript و مدل معماری MVC'
        },
        naghshe: {
          link: 'https://myegane49.xyz/contractors-map',
          imageSrc: '/images/contractor-map.png',
          descriptionEn: 'A small app for a piping company that shows different oil companies and their related contractors on the map built with Vuejs',
          descriptionFa: 'یک اپ کوچک برای نشان دادن شرکت ها و پیمانکارهای طرف قرار داد یک شرکت لوله سازی بر روی نقشه ایران با استفاده از Vuejs'
        },
        acmilan: {
          link: 'https://myegane49.xyz/acmilan-news',
          imageSrc: '/images/acmilan.png',
          descriptionEn: 'A custom built carousel widget and a collapsible menu using jQuery',
          descriptionFa: 'یک ویجت سفارشی ساخته شده carousel و یک منوی collapsible با استفاده از JQuery'
        },
      }
    }
  },
  components: {
    'app-title': Title,
    'app-project': Project
  },
  mixins: [languageMixin]
};
</script>

<style lang="scss" scoped>
.projects {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // height: 75vh;

  @include respond(tablet) {
    // flex-wrap: nowrap;
    // height: auto;
  }
}
</style>
