@import './variables';

@font-face {
  font-family: "IRANSans";
  font-weight: normal;
  src: url("/fonts/IRANSans.ttf");
}
@font-face {
  font-family: "IRANSans";
  font-weight: bold;
  src: url("/fonts/IRANSans-Bold.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url("/fonts/Quicksand.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  src: url("/fonts/Quicksand-Bold.ttf");
}

body, button, a {
  font-family: $font-primary;
  font-size: 1.6rem;
  color: white;
}

.heading {
  color: $color-secondary-light;
  font-size: 2.3rem;
  margin: 1.5rem;

  @include respond(phone) {
    font-size: 1.7rem;
    margin: 1rem;
  }
}

.partition {
  margin-bottom: 2rem;

  p {
    margin-top: 3px;
  }

  span, div {
    color: lightgray;
  }
}
